input,
input:active,
input:focus {
    border-bottom: 1px solid var(--text-secondary);
    padding-bottom: 6px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-header {
    color: var(--text-primary);
    font-size: 1.2rem;
    font-weight: 600;
}

.placeholder {
    color: transparent;
}

.form-footer {
    margin: 20px auto;
    text-align: center;
    max-width: max-content;
    display: flex;
    align-items: center;
    gap: 10px;
}

.divider {
    height: 20px;
    width: 2px;
    background-color: var(--text-secondary);
}