:root {
  --bg-primary: #ffdde1;   /* Light rose */
  --bg-secondary: #ffffff; /* Light cream */
  --bg-tertiary: #cc6699;  /* Lighter rose */

  --text-primary: #330033;  /* Dark purple */
  --text-secondary: #4d4d4d; /* Medium gray */

  --text-success: #00cc99;  /* Teal green */
  --text-error: #ff5050;    /* Coral red */
}
